html {
    transition: color 300ms, background-color 300ms;
}

html[data-theme='dark'] {
    background: #333;
    filter: invert(1) hue-rotate(180deg)
}

html[data-theme='dark'] img {
  filter: invert(1) hue-rotate(180deg)
}

body{
    background-color: #333;
}

h1 {
  color: #333;
}

h2 {
  color: #333;
}